/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #003285;
  padding: 10px 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-container {
  background-color: white; 
  padding: 5px;
  border-radius: 50%; 
}

.logo img {
  width: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 20px;
  position: relative; 
  /* New transition properties */
  transition: max-height 0.5s ease-in-out;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  padding-left: 45px;
 
  transition: all 0.3s ease;
}

.nav-item:hover {
  color: #FFD700; 
 
}

.nav-item::after {
  content: '';
  display: block;
  width: 0;
  height: 2.5px;
  background: transparent;
  transition: width 0.3s ease;
  
}

.nav-item:hover::after {
  width: 95%;
  margin-left: 25px;
  background: #FFD700;
}

.dropdown-btn {
  display: none; 
}

/* New classes for animation */
.nav-links.collapsed {
  max-height: 0;
  overflow: hidden;
}

.nav-links.expanded {
  max-height: 500px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #003285;
    width: 100%;
    z-index: 1;
    /* Updated max-height and overflow for animation */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
  }

  .nav-links.collapsed {
    max-height: 0;
  }

  .nav-links.expanded {
    max-height: 500px;
  }

  .nav-links li {
    text-align: center;
    padding: 10px;
  }

  .dropdown-btn {
    display: block; 
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 5px;
  }

  .dropdown-btn:hover {
    color: #FFD700;
  }

  .navbar {
    position: relative;
  }

  .logo img {
    width: 25px;
    height: 25px;
  }

  .logo-container {
    background-color: white; 
    padding: 5px;
    border-radius: 50%; 
    width: 25px;
    height: 25px;
  }

  .nav-item {
    text-decoration: none;
    color: #fff;
   
  
    transition: all 0.3s ease;
    
  }
}
